body{
  width: 100%;
  height: 100%;
  background: url(../img/bg.png) repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0;

}
a{
  text-decoration: none;
}
table{
	width: 100%;
	border: solid 1px black;
	text-align: left;
}
tr{
	border: solid 1px black;
}
#backToStart{
  margin: auto;
  text-align: center;
  position: absolute;
  left: 35%;
  width: 30%;
  height: 30vw;
  top: 35%;
}
#buttonNext{
  width: 500px;
  height: 50px;
  margin-top: 25px;
  background: transparent;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 40px;
}
#buttonNext:hover{
  color: rgba(255,255,255,1);
  background: black;
  transition: color 1.5s ease-out;
}