body{
  width: 100%;
  height: 100%;
  background: url(../img/bg.png) repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
a{
  text-decoration: none;
}
#mainForm{
  width: 25%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  min-width: 300px;
}
#mainTable{
  position: relative;
  margin: auto;
}
#data{
  text-align: center;
}
h1{
  text-align: center;
}
h5{
  margin-top: 10px;
  margin-bottom: 10px;
}
input{
  position: relative;
  box-sizing: border-box;
  height:  25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
  border: solid 1px rgb(180,180,180);
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}